
@import "./styles/libs/index";
@import "./styles/colors";

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	accent-color: @accent;
	font-family: Helvetica;
	.bg(@body_light, @body_dark);

	&:has(#login-form) {
		background: #9999;
		height: 100vh;
	}
}

#root {
	width: 100%;
	height: 100%;
	// max-width: 1400px;
	margin-inline: auto;
	position: relative;

	.col(center);
}

#overlay:not(:empty) {
	position: fixed;
	inset: 0;
	.col(center);
	z-index: 99;
	.bg(#FFF9, #000a);
}

button {

	width: min-content;
	white-space: nowrap;

	&.clear {
		background: none;
	}
}

@import "./views/Login";
@import "./views/Dogs";